# macOS
.DS_Store

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
project.xcworkspace

# Swift Package Manager
.build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# CocoaPods
Pods/

# User-specific files
*.swp
*~

# Other common files to ignore
.idea/
*.log

# Exclude Info.plist to protect sensitive information
Info.plist
